* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
  transition: all 0.3s;
}

ul {
  margin: 0;
}

:root {
  /* COLOR */
  --cor-primaria: #303C60;
  --cor-branca: #ffffff;
  --cor-amarela: #E9B91A;
  --cor-lilas: #D8217B;
  --cor-laranja: #FF7F17;
  --cor-vermelha: #F72627;
  --cor-verde: #007833;
  --cor-azul: #0081F7;
  --cor-cinza-light2: #f5f5f5;

  /* FONT FAMILY */
  --font-titulo: "Russo One", sans-serif;
  --font-texto: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-texto);
  font-size: 14px;
}

header {
  background-color: var(--cor-cinza-light2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* HEADER */
.menu {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--cor-cinza-light2);
  width: 100%;
}

.menu-opcoes {
  font-size: 25px;
  color: var(--cor-texto);
  font-weight: 700;
}

.aPersonal {
  color: var(--cor-primaria);
  font-family: var(--font-texto);
  font-size: 15px;
}

.aPersonal:hover {
  color: var(--cor-secundaria);
}

.menu-box-user {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--cor-primaria);
  padding: 15px;
  border-radius: 10px;
}

.menu-dados-user {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: right;
}

/* SERVICOS */
.servicos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 40px 80px;
}

.servico-box {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  background-color: var(--cor-bg);
  padding: 20px;
  border-radius: 10px;
  color: var(--cor-branca);
}

.servico-box:hover {
  transform: scale(1.05);
  background-color: var(--cor-primaria);
  color: var(--cor-branca);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.servico-icone {
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 60px;
} 

.box-dados h4 {
  font-size: 16px;
  font-weight: 700;
}

.box-dados p {
  font-size: 13px;
}

.box-bg-amarelo {
  background-color: var(--cor-amarela);
}

.box-bg-lilas {
  background-color: var(--cor-lilas);
}

.box-bg-laranja {
  background-color: var(--cor-laranja);
}

.box-bg-vermelho {
  background-color: var(--cor-vermelha);
}

.box-bg-verde {
  background-color: var(--cor-verde);
}

.box-bg-azul {
  background-color: var(--cor-azul);
}

/* MEDIA QUERY */
@media (max-width: 980px) {
  .servicos {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px 30px;
  }

  .navbar-brand {
    width: 150px;
  }

  .menu-opcoes {
    margin-top: 20px;
    font-size: 18px;
  }
}